body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    width: 800px;
    height: 500px;
    perspective: 1500px;
    margin-bottom: 20px;
}

.book {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.page {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-page {
    left: 0;
    background-color: #ffebee;
    color: #e91e63;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.right-page {
    left: 50%;
    transform-origin: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.page img {
    width: 80%;
    height: auto;
    object-fit: cover;
    border: 5px solid #e91e63;
    border-radius: 10px;
    margin-bottom: 10px;
}

.author-name {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #e91e63;
    text-align: center;
    width: 80%;
    margin-top: 10px; /* Added to ensure it stays below the image */
}

.music-player {
    text-align: center;
    color: #e91e63;
    cursor: pointer;
    position: fixed; /* Changed to fixed to always stay on top */
    bottom: 20px; /* Position from the bottom */
    z-index: 1000; /* Higher z-index to ensure it's above other elements */
}

.music-player i {
    font-size: 70px;
    margin-right: 10px;
    margin-top: 10px;
}

#song-duration {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
}

#lyrics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
